body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

.profile-section {
  max-width: 800px;
  margin: 0 auto;
  background: #e4c2bd;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.main-title {
  text-align: center;
  font-size: 36px;
  color: #2c3e50;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.name-title {
  text-align: center;
  font-size: 28px;
  color: #16a085;
  margin-top: 10px;
  margin-bottom: 30px;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  max-width: 200px;
  border-radius: 50%;
  border: 5px solid #16a085;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.description {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  border-left: 5px solid #16a085;
  text-align: center; /* Centra el texto en la descripción */
}

.description p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #444;
}

.description p:first-of-type {
  font-weight: bold;
}
