<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              
            </div>
        </div>
    </div>
</main>
<div class="profile-section">
  <div class="description">
      <p>En esta sección se presenta información sobre el desarrollador del blog, así como el propósito de su creación y otros detalles relevantes.</p>
      <p>Este blog se está creando principalmente como parte de un trabajo y un parcial del estudiante y desarrollador, con el objetivo de adquirir conocimientos en el área de la Programación Basada en Componentes.</p>
      <p>El blog será constantemente mejorado y actualizado.</p>
      <p>Está siendo desarrollado por:</p>
  </div>
</div>

<section class="profile-section">

    <h1 class="main-title">INGENIERO INFORMÁTICO</h1>
    <h2 class="name-title">ADRIÁN MENDOZA</h2>
  
    <div class="image-container">
      <img src="https://lh3.googleusercontent.com/a/ACg8ocJCT5do9XwKm-BAgh66HxZEzAO8iRREBej0LnEBeeoWG4uqeqoq=s432-c-no" alt="Adrián Mendoza" class="profile-image">
    </div>
  

    <div class="description">
      <p>
        Adrián Mendoza es un joven universitario de (UNIPAZ) enfocado en aprender, desarrollar y mejorar sus habilidades en áreas clave como la programación, el manejo de bases de datos, el diseño de páginas web, y la mecanografía. Su pasión por la tecnología lo impulsa a estar siempre a la vanguardia, buscando soluciones innovadoras y eficaces para los retos del mundo digital.
     <br>
     
     <br>
      
        Además, Adrián está constantemente buscando mejorar sus conocimientos, contribuyendo activamente a proyectos que fomenten su crecimiento tanto profesional como personal. ¡Conoce más sobre su trabajo y su pasión por la informática!
      </p>
    </div>
  </section>
  
